div aside{
    background-color: rgba(125, 170, 170, 0.411);
    float: left;
    padding: 15px;
}
header{
    background-color: rgba(3, 3, 136, 0.24);
    padding: 20px;
    
}

header h1{
    text-align: center;
    color:black;
    opacity: 1;
}

#navbar{
    background-color: rgba(125, 170, 170, 0.411);
    float: center;
    padding: 15px;
    width: 100%;
    margin: 20px;
    margin-top: 5px;
}

body{
    background-image: url('hintergrund.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body ul{
    list-style: none;
}
body form{
    background-color: rgba(3, 3, 136, 0.24);
    width:fit-content;
    padding: 10px;
    margin-top:50px;
}

table{
    padding-top: 5%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

.flex-container div img{
    padding-left: 10%;
}

#navbar div a:visited,#navbar div a:link{
    background-color: rgba(125, 170, 170, 0.555);
    padding: 5px;
    border: black;
    border-width: 1px;
    text-decoration: none;
    color: black;
}

#navbar div a:hover,#navbar div a:active{
    background-color: rgba(3, 3, 136, 0.582);
    padding: 5px;
    border: black;
    border-width: 1px;
    text-decoration: none;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #04AA6D;
    color: white;
}

tr{background-color: #8f8f8f;}

tr:nth-child(even){background-color: #f2f2f2;}
  